/* ### レイアウト ### */
body	{margin: 0 10px;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;}

#container	{width: 960px;
	margin: auto;}

#header	{margin: 0 0 30px;}

#content	{width: 630px;
	float: left;}

#sidebar	{width: 300px;
	float: right;}

#footer	{clear: both;}



/* ### ヘッダー ### */

/* ナビゲーションメニュー */
#nav	{font-size: 14px;
	font-family: 'Maven Pro', Helvetica, Arial, sans-serif;
	overflow: hidden;
	background-color: #000000;}

#nav ul	{margin: 0;
	padding: 0;}

#nav li	{list-style-type: none;
	float: left;
	width: 120px;}

#nav li a	{display: block;
	padding: 5px 0;
	border-right: solid 1px #ffffff;
	color: #ffffff;
	text-align: center;
	text-decoration: none;}

#nav li a:hover	{background-color: #63a2c6;}


/* サイト名 */
#site	{font-family: 'Maven Pro', Helvetica, Arial, sans-serif;
	background: rgba(255,255,255,0.5);
	display: inline-block;
	padding: 10px 20px;
	margin-top: 30px;}

#site h1	{font-size: 50px;
	margin: 0;
	line-height: 1;}

#site h1 span	{font-weight: normal;}

#site p	{font-size: 16px;
	margin: 0;}


/* ヘッダー画像 */
#header	{width: 960px;
	height: 280px;
	background-image: url(img/seagull.jpg);
	background-position: left bottom;}



/* ### コンテンツ ### */

/* 投稿日 */
.date	{float: left;
	background-color: #537685;
	padding: 5px 15px 8px;
	margin: 0 10px 5px 0;
	text-align: center;
	font-family: 'Maven Pro', Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;}

.date span	{display: block;
	font-size: 20px;
	line-height: 1;}


/* タイトル */
.post h2	{font-size: 22px;
	border-bottom: solid 1px #aaaaaa;
	margin: 6px 0 15px;
	padding: 0 0 3px;}

/* サムネイル画像 */
.post p img	{float: left;
	margin-right: 10px;
	clear:left;}

/* 本文 */
.post p	{font-size: 14px;
	line-height: 1.6;
	margin: 0;
	clear: left;}

/* 続きを読むボタン */
.post .more	{background-image: url(img/more_gray.png);
	background-repeat: no-repeat;
	background-position: center right;
	text-align: right;
	padding-right: 30px;
	color: #888888;
	clear: none;}

/* リンク */
.post	{border: solid 1px #aaaaaa;
	margin-bottom: 20px;}

.post a	{display: block;
	padding: 10px;
	overflow: hidden;
	color: #000000;
	text-decoration: none;}

.post a:hover	{background-color: #dddddd;
	background: -webkit-gradient(linear,left top, left bottom, from(#ffffff), to(#dddddd));
	background: -webkit-linear-gradient(#ffffff 0%, #dddddd 100%);
	background: -moz-linear-gradient(#ffffff 0%, #dddddd 100%);
	background: -o-linear-gradient(#ffffff 0%, #dddddd 100%);
	background: -ms-linear-gradient(#ffffff 0%, #dddddd 100%);
	background: linear-gradient(#ffffff 0%, #dddddd 100%);}




/* ### サイドバー ### */

/* 広告 */
.ad img	{width: 300px;
	height: 250px;
	margin-bottom: 20px;}

/* メニュー */
.menu	{background-color: #537685;
	padding: 15px;
	margin-bottom: 20px;}

.menu h3	{font-family: 'Maven Pro', Helvetica, Arial, sans-serif;
	font-size: 22px;
	font-weight: normal;
	color: #ffffff;
	margin: 0 0 25px;}

.menu ul	{margin: 0;
	padding: 0;
	border-top: solid 1px #aaaaaa;}

.menu li	{margin-bottom: 0;
	list-style-type: none;
	border-bottom: solid 1px #aaaaaa;}

.menu li a	{display: block;
	font-size: 14px;
	text-decoration: none;
	color: #ffffff;
	padding: 10px 0;}

.menu li a:hover	{background-color: #63a2c6;}



/* ### フッター ### */

#footer	{font-family: 'Maven Pro', Helvetica, Arial, sans-serif;
	color: #ffffff;
	background-color: #000000;
	padding: 10px 10px 20px;}

#footer p	{margin: 0;}

#footer small	{font-size: 12px;
	font-weight: bold;
	display: block;}


